*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --space : black;
    --space-menu : rgb(46, 45, 45);
    --space-menu-border : rgb(37, 37, 37);
    --text : rgb(206, 134, 1);
}

body{
    background-color: var(--space);
    color: var(--text);
}

/*menu défilant*/
.toolpip{
    position: relative;
}
.toolpip ul{
    display:none;
    padding: 10px;
    position: absolute;
    background-color: var(--space-menu);
    border: 1px solid var(--space-menu-border);
    list-style: none;
}
.toolpip:hover{
    display: block;
}
.toolpip:hover .arrow{
    transform: rotate(90deg)
}

/*bar de navigation*/
.navigationBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: blueviolet 1px;
}