*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --space : black;
    --space-menu : rgb(46, 45, 45);
    --space-menu-border : rgb(37, 37, 37);
    --text : rgb(206, 134, 1);
}

body{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWI0Zm1oOWVvdjk1M3RjNjVicmw4NmJhYXB4YmV6cDhlb2YyNmYybCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/RHIKETUlUINYvV7CAO/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    color: var(--text);
    text-align: center;
}
img{
    max-width: 80%;
    height: auto;
}
.loadingGIF{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    text-align: center;
}
/*menu défilant*/
.toolpip{
    position: relative;
}
.toolpip ul{
    display: none;
    padding: 10px;
    position: absolute;
    background-color: var(--space-menu);
    border: 1px solid var(--space-menu-border);
    list-style: none;
}
.toolpip:hover ul{
    display: block;
    background-color: aliceblue;
    cursor: pointer;
}
.toolpip:hover .arrow{
    transform: rotate(90deg);
}

/*bar de navigation*/
.navigationBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blueviolet;
    width: 100%;
    color: aliceblue;
}

/*Research fenetre*/
.research{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    position: absolute;
    width: 150px;
    height: 300px;
    background-color: aliceblue;
}
.research-item{
    width: 50%;
    height: 25%;
}
.research-item img{
    width: 20%;
    height: 40%;
}
.homePoster{
    width: 3rem;
    height: 2rem;
}